<div class="main-div">
  <div class="form">
    <h1>Edit Note</h1>
    <hr>

    <%= simple_form_for(@note, url: edit_note_path(@note), method: :patch) do |f| %>
      <p>
        <%= f.input :content %>
      </p>
      <p>
        <%= f.submit "Update" %>
      </p>
    <% end %>
  </div>
</div>