<div class="main-div">
  <div class="form">
    <div class="container pt-3">
      <h1>Add note to <%= @memory.title %></h1>
      <%= simple_form_for [@memory, @note] do |f| %>
        <%= f.input :content %>
        <br>
        <%= f.submit "SUBMIT" %>
      <% end %>
    </div>
  </div>
</div>