// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// MemoMio customs:
$dark-purple: #17122B;
$purple: #3B2F5A;
$light-purple: #78496D;
$rose: #FDB9A6;
$yellow: #ffc42f;
$orange-mix: #FF7842;
$tomato: tomato;
$white: #FFFFFF;
