// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #03ac60;
$gray: #0E0000;
$light-gray: #F4F4F4;

// MemoMio customs:
$dark-purple: #17122B;
$purple: #3B2F5A;
$light-purple: #78496D;
$rose: #FDB9A6;
$yellow: #ffc42f;
$orange-mix: #FF7842;
$tomato: tomato;
$white: #FFFFFF;

.glassify {
  background: rgba( 255, 255, 255, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}