<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-header">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h1 style="color: white; text-shadow: 0 2px 5px rgba(0,0,0,0.3)">MEMOMIO</h1>
    <% end %>
  </div>
</div>
