<!--
PSEUDOCODE:
1. Create divs for main sections [X]
2. Create grid with bootstrap or CSS Grid []
3. Structure the Header Section []
4. Implement Searchbar Section []
5. Implement timeline section []
-->


<div class="container">
  <!-- Header section -->
  <div class="header">
    <!-- Headline + Claim -->
    <div class="header-content">
      <div><h1>Memomio</h1></div>
      <div><p>Explore your memory</p></div>
    </div>
    <!-- CSS "rippled" background -->
    <div class="header-create-memory">
      <%= link_to "Add memory", new_memory_path, class: "btn-round", style: "text-decoration: none" %>
        <div class="circles">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
        </div>
    </div>
  </div>

  <!-- Search bar section -->
  <div class="search-bar" style=" margin-top: 5%; ">
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search memories" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  </form>
    </div>

    <!-- Timeline section -->
    <div></div>

</div>
