<!--
PSEUDOCODE:
1. Create divs for main sections [X]
2. Create grid with bootstrap or CSS Grid []
3. Structure the Header Section []
4. Implement Searchbar Section []
5. Implement timeline section []
-->


<div class="container">
  <!-- Header section -->
  <div class="header">
    <!-- Headline + Claim -->
    <div class="header-content">
      <div><h1>Memomio</h1></div>
      <div><p>Explore your memory</p></div>
    </div>
    <!-- CSS "rippled" background -->
    <div class="header-create-memory">
      <%= link_to "Create memory", new_memory_path, class: "btn-round" %>
        <div class="circles">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
        </div>
    </div>
  </div>

  <!-- Search bar section -->
  <div></div>

  <!-- Timeline section -->
  <div></div>

</div>
