<h1>MEMOMIO</h1>
<p>Explore your biography</p>

<div class="container">
  <%= link_to new_memory_path do %>
    <div class="circles">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
    </div>
  <% end %>
</div>