.header{
  display: box;
  display: flex;
  flex-direction: column;
  box-pack: center;
  justify-content: space-evenly;
  box-align: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin-bottom: 30vh;
}

.header > h3 {
  padding-top: 100px;
  color:aliceblue;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.47);
}

.header > h1 {
  color: $dark-purple;
  font-weight: bolder;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.479);
  font-size: xx-large;
}

.sun-btn {
  display: box;
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid white;
  background: linear-gradient(to bottom, rgb(255, 196, 47) 0%, tomato 100%);
  box-shadow: 0 4px 4px rgba(55, 6, 63, 0.3);
  border-radius: 50%;
  line-height: 140px;
  text-align: center;
  text-decoration: none;
  color: rgba(153, 14, 14, 0.468);

}


.sun-btn::before {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(134, 3, 18);
  opacity: 0;
  content: '';
  animation: pulse 1s infinite;
}

.sun-btn:active:before {
  animation: blastOut 1s;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: .6;
  }
  to {
    transform: scale(1.7);
    opacity: 0;
  }
}

@keyframes blastOut {
  from {
    transform: scale(0.9);
    opacity: .4;
  }
  to {
    transform: scale(10);
    opacity: 0;
  }
}
