.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: aliceblue;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 4px;
}
