@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700'); // custom font

// -------------------------------------------------

// Responsive Vertical Timeline - by CodyHouse.co

// -------------------------------------------------

.cd-timeline {
  overflow: hidden;
  padding: 0;
  color: $dark-blue;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 10vh;
  h2 {
    font-weight: 700;
  }
}

.cd-timeline__container {
  position: relative;
  width: 95vw;
  padding: 0;

  &::before { // this is the timeline vertical line
    content: '';
    position: absolute;
    top: 0;
    left: 27px;
    height: 100%;
    width: 4px;
    background: rgba(24, 78, 119, 0.616);
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.626);
    border-radius: 2px;
  }

}

.cd-timeline__block {
  display: flex;
  position: relative;
  z-index: 1; // make sure content is above the timeline vertical line

  &:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 55px;

  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: white 4px solid;
    box-shadow: 0 0 5px $dark-blue;
  }
}

.cd-timeline__content {
  flex-grow: 1; // expand element so that it takes up all the available space inside its parent
  position: relative;
  background: rgba(234, 236, 246, 0.888);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid $dark-blue;
  box-shadow: 0 0 5px $dark-blue;

  &::before { // triangle next to content block
    content: '';
    position: absolute;
    top: 50px;
    right: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: $dark-blue;
    transform:translate(0, -50%);
  }


  h2 {
    color: $dark-blue;
  }
}

.cd-timeline__date {
  color: $dark-blue;
}


@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}
