<h2><%= @memory.title %></h2>
<p><%= @memory.description %></p>
<p><%= @memory.date %></p>

<%= link_to "Delete",
  memory_path(@memory),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this memory?"}
%>
